
      <% wrap_layout :layout do %>
      

<div id="content" class="content-width">
  <div id="main-wrapper">
    <div id="main">

      <article class="entry">
        <header class="blog">
          <h2><%= current_page.data['title'] %></h2>
          <ul class="tags">
            <% current_page.tags.each do |tag| %>
            <li><a href="<%= tag_path(tag) %>"><%= tag %></a></li>
            <% end %>
          </ul> 
          <time><%= current_page.data['date'].to_time.strftime("%Y-%m-%d %H:%M") %></time>
        </header>
        <div class="body">
          <%= yield %>
        </div>
        <footer class="entry">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.itikyu.info/<%= current_page.url %>" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>          

<a href="http://b.hatena.ne.jp/entry/http://blog.itikyu.info/<%= current_page.url %>" class="hatena-bookmark-button" data-hatena-bookmark-title="<%= current_page.data['title']%>" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </footer>
      </article>

    </div>
  </div>

  <aside id="sidebar">
    <section>
      <h2>Recent Articles</h2>
      <ul>
        <% blog.articles[0...10].each do |article| %>
        <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ul>
    </section>
	<section>
      <h2 id="tag-list">Tag List</h2>
      <ul>
        <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ul>
	</section>
  </aside>
</div>
<div id="pagenation">
  <div class="after">
    <% unless @after == nil then %>
    <% if @entry then %>
    <a class="after-entry" href="<%= @after['_id'] %>"><%= @after['title'] %></a>
    <% else %>
    <a class="after-entry" href="<%= @after %>">Newer</a>
    <% end %>
    <% end %>
  </div>
  <div class="before">
    <% unless @before == nil then %>
    <% if @entry then %>
    <a class="before-entry" href="<%= @before['_id'] %>"><%= @before['title'] %></a>
    <% else %>
    <a class="before-entry" href="<%= @before %>">Older</a>
    <% end %>
    <% end %>
  </div>
  <a href="/">HOME</a>
</div>

      <% end %>
