<% wrap_layout :layout do %>
<article class="entry">
    <header class="entry">
        <h2><%= current_page.data['title'] %></h2>
        <ul class="tags">
          <% current_page.tags.each do |tag| %>
            <li><a href="<%= tag_path(tag) %>"><%= tag %></a></li>
          <% end %>
        </ul> 
        <time pubdate="pubdate"><%= current_page.data['date'] %></time>
    </header>
    <div class="body">
      <%= yield %>
    </div>
    <footer class="entry">
    </footer>
</article>
<% end %>
