---
pageable: true
per_page: 10
---

<div id="content">
  <div id="main-wrapper">
    <div id="main">

      <% page_articles.each_with_index do |article, i| %>
      <article class="entry">
        <header class="blog">
          <h2><%= link_to article.title, article %> </h2>
          <ul class="tags">
            <% article.tags.each do |tag| %>
            <li><%= link_to "#{tag}", tag_path(tag) %></li>
            <% end %>
          </ul> 
          <time><%= article.data['date'].to_time.strftime("%Y-%m-%d %H:%M") %></time>
        </header>
        <div class="body">
          <!-- use article.summary(250) if you have Nokogiri available to show just
               the first 250 characters -->
          <%= article.summary %>
        </div>
        <footer class="entry">
          <%= link_to ' Read more… ', article , {class: "ReadMore" }%>
        </footer>
      </article>
      <% end %>

    </div>
  </div>

  <aside id="sidebar">
    <section>
      <h2>Recent Articles</h2>
      <ul>
        <% blog.articles[0...10].each do |article| %>
        <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ul>
    </section>
	<section>
      <h2 id="tag-list">Tag List</h2>
      <ul>
        <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ul>
	</section>
  </aside>
</div>

<% if paginate %>
<% if next_page %>
<p><%= link_to 'Next page', next_page %></p>
<% end %>
<% end %>

<% if paginate && num_pages > 1 %>
<p>Page <%= page_number %> of <%= num_pages %></p>

<% if prev_page %>
<p><%= link_to 'Previous page', prev_page %></p>
<% end %>
<% end %>
